<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AutoGuayana</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Stock</a></li>
            <li><a href="#">Facturar</a></li>
            <li><a href="#">*Administración*</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li class="dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Artículos
                     <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                     <li ><a href="#">Registrar artículos</a></li>
                     <li ><a href="#">Gestionar artículos</a></li>
                </ul>
            </li>
              <li class="dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Vehículos
                     <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                     <li ><a href="#">Registrar vehículos</a></li>
                     <li ><a href="#">Gestionar vehículos</a></li>
                </ul>
            </li>              
            <li class="dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Empleados
                     <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                     <li ><a href="#">Gestionar empleados</a></li>
                     <li ><a href="#">Gestionar fichas</a></li>
                </ul>
            </li>             
              <li class="active dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Reportes
                     <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                     <li ><a href="#">Ventas</a></li>
                     <li class="active"><a href="#">Top 5 vendedores</a></li>
                     <li ><a href="#">Desempeño general</a></li>
                </ul>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


          <h2 class="sub-header">Top 5 empleados</h2>  
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Cédula</th>
                  <th>Nombre</th>
                  <th>Total vendido (bsf)</th>
                  <th>Porcentaje representativo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>24964467</td>
                  <td>José Rivera</td>
                  <td>25.000.000</td>
                  <td>20%</td>           
                </tr>
                <tr>
                  <td>22656345</td>
                  <td>Enrique Suárez</td>
                  <td>15.000.000</td>
                  <td>15%</td>          
                </tr>
                <tr>
                  <td>21325123</td>
                  <td>Pepito pérez</td>
                  <td>8.000.000</td>
                  <td>10%</td>          
                </tr>
                <tr>
                  <td>21311113</td>
                  <td>Juan Sánchez</td>
                  <td>2.000.000</td>
                  <td>2%</td>          
                </tr>
                <tr>
                  <td>20231546</td>
                  <td>Carlos Tirado</td>
                  <td>300.000</td>
                  <td>0.5%</td>          
                </tr>                                              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>