<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

   <title>Dashboard Template for Bootstrap</title>

   <!-- Bootstrap core CSS -->
   <link href="./css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="./css/custom.css" rel="stylesheet">

   <!-- Just for debugging purposes. Don't actually copy this line! -->
   <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
 </head>

 <body>

   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container-fluid">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">AutoGuayana</a>
       </div>
       <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="#">Clientes</a></li>
           <li><a href="#">Stock</a></li>
           <li><a href="#">Facturar</a></li>
           <li><a href="#">*Administración*</a></li>
         </ul>
       </div>
     </div>
   </div>

   <div class="container-fluid">
     <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
         <ul class="nav nav-sidebar">
             <li class="dropdown-submenu">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Artículos
                    <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                    <li ><a href="#">Registrar artículos</a></li>
                    <li ><a href="#">Gestionar artículos</a></li>
               </ul>
           </li>
             <li class="dropdown-submenu">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Vehículos
                    <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                    <li><a href="#">Registrar vehículos</a></li>
                    <li ><a href="#">Gestionar vehículos</a></li>
               </ul>
           </li>              
           <li class="dropdown-submenu active">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Empleados
                    <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                    <li class="active" ><a href="#">Gestionar empleados</a></li>
                    <li ><a href="#">Gestionar fichas</a></li>
               </ul>
           </li>             
             <li class="dropdown-submenu">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Reportes
                    <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                    <li ><a href="#">Ventas</a></li>
                    <li ><a href="#">Top 5 vendedores</a></li>
                    <li ><a href="#">Desempeño general</a></li>
               </ul>
           </li>
         </ul>
        </div>
       <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


         <h2 class="sub-header">Registro Empleado</h2>
         <div>      
         <form role="form">

<div class="row">
               
<div class="col-xs-12 col-sm-6 col-md-6">
                   <h3>Cédula:</h3>
<div class="form-group">
                       <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="Ejemplo: 12345678" tabindex="1">
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6">
                   <h3>Nombre:</h3>
<div class="form-group">
                       <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="" tabindex="1">
</div>
</div>                

</div>

<div class="row">
               
<div class="col-xs-12 col-sm-6 col-md-6">
                   <h3>Primer apellido:</h3>
<div class="form-group">
                       <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="" tabindex="1">
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6">
                   <h3>Segundo apellido:</h3>
<div class="form-group">
                       <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="" tabindex="1">
</div>
</div>                
</div>
             
<div class="row">
               
<div class="col-xs-12 col-sm-6 col-md-6">
                   <h3>Sexo:</h3>
<div class="form-group">
                       <label class="radio" for="radios-0">
                       <input type="radio" name="radios" id="radios-0" value="Masculino" checked="checked">
                       Masculino
                       </label>
                       <label class="radio" for="radios-1">
                       <input type="radio" name="radios" id="radios-1" value="Femenino">
                       Femenino
                       </label>
</div>
</div>
               
<div class="col-xs-12 col-sm-6 col-md-6">
                   <h3>Fecha de nacimiento:</h3>
<div class="form-group">
                       <input type="date" name="bday">
</div>
</div>              
               

</div>              
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h3>Dirección:</h3>
            <div class="form-group">
                <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="" tabindex="1">
            </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <h3>Departamento:</h3>
            <div class="form-group">
                <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="" tabindex="1">
            </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Cargo:</h3>
        <div class="form-group">
            <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="" tabindex="1">
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Sueldo:</h3>
        <div class="form-group">
            <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="0 Bsf" tabindex="1">
        </div>
    </div>  
</div>              
<div class="row">
               
              
<br>
</div>              

           <div class="row">
               <div class="col-xs-8 form-group">
<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Correo" tabindex="4">
    </div>
               <button type="button" class="btn btn-md btn-primary">Añadir</button>
           </div>
           <div class="row">
               <div class="col-xs-8 form-group">
<input type="tel" name="telefono" id="telefono" class="form-control input-lg" placeholder="Teléfono" tabindex="4">
    </div>
               <button type="button" class="btn btn-md btn-primary">Añadir</button>
           </div>


<div class="row">
<div class="col-xs-12 col-md-6"><input type="submit" value="Registrar" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
<div class="col-xs-12 col-md-6"><a href="#" class="btn btn-warning btn-block btn-lg">Cancelar</a></div>
</div>
</form>
         </div>
       </div>
     </div>
   </div>

   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="./js/bootstrap.min.js"></script>
   <script src="../../assets/js/docs.min.js"></script>
 </body>
</html>