<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AutoGuayana</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Stock</a></li>
            <li><a href="#">Facturar</a></li>
            <li><a href="#">*Administración*</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


          <h2 class="sub-header">Facturar</h2>
          <div class="table-responsive">
            <!--<table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
               
                
              </tbody>
                
            
            </table>-->
                
                <form class="form-horizontal">
                      <fieldset>
                
                          <div class="row">
                              
                          <!-- Text input-->
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div id="div1" style="float:left; margin: 10px; padding: 5px; text-align: left">
                                    <div class="control-group" >
                                        <label class="control-label"  for="textinpssut">Cliente</label>
                                        <div class="controls">
                                            <input id="textinput" style="height:30px" name="textinput" type="text" placeholder="Cedula" class="input-xlarge">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button id="singlebutton" name="singlebutton" class="btn btn-success">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div id="div1" style="float:left; margin: 10px; padding: 5px; text-align: left">
                                    <div class="control-group">
                                        <label class="control-label" for="textinpssut">Vehiculo</label>
                                        <div class="controls">
                                            <input id="textinput"  style="height:30px" name="textinput" type="text" placeholder="ID_Vehiculo" class="input-xlarge">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button id="singlebutton" name="singlebutton" class="btn btn-success">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                          </div>
                          
                        <div class="col-xs-12 col-sm-6 col-md-4">
                        <div id="div1" style="float:left; margin: 10px; padding: 5px;">
                            <div class="control-group">
                                <label class="control-label" for="textinput">Articulos</label>
                                <div class="controls">
                                    <input id="textinput" style="height:30px" name="textinput" type="text" placeholder="Nombre" class="input-xlarge">
                                </div>
                            </div>

<!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="textinput">Cantidad</label>
                                    <div class="controls">
                                        <input id="textinput" style="height:30px" name="textinput" type="text" placeholder="cantidad" class="input-xlarge">

                                    </div>
                            </div>

<!-- Button -->
                            <div class="control-group">
                                <div class="controls">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Agregar</button>
                                </div>
                            </div>
                          </div>
                            </div>
                            </div>
                    
                 
                

<!-- Form Name -->
                         
        </fieldset>
                    
             
                <fieldset>
                <legend>Informacion de Financiamiento</legend>
                    <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                            <div id="div1" style="float:left; margin: 10px; padding: 5px;">
                                         <legend>Tipo de Pago</legend>
                                         <div class="control-group" >
                                            <label class="control-label"  for="textinpssut">Monto</label>
                                              <input id="textinput" name="textinput" style="height:30px" type="text" placeholder="$$$$$$ < BsfBsfBsf" class="input-xlarge">
                                         </div>
            <!-- Multiple Checkboxes -->
                                         <div class="control-group">
                                            <div class="controls">
                                                <label class="checkbox" for="checkboxes-0">
                                                <input type="radio" name="checkboxes" id="checkboxes-0" value="Option one">
                                                    Pago de Contado
                                                </label>
                                                <label class="checkbox" for="checkboxes-1">
                                                <input type="radio" name="checkboxes" id="checkboxes-1" value="Option two">
                                                    Financiado
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                            <div id="div1" style="float:left;margin: 10px; padding: 5px; text-align: left">
                                <legend>Tipo de Financiamiento</legend>

                                    <select id="selectbasic" name="selectbasic" class="input-large" style="height:30px">
                                        <option>Concesionario</option>
                                        <option>Banco</option>
                                    </select>

                            </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                            <div id="div1" style="float:left;margin: 10px; padding: 5px; text-align: left">
                                <legend>Nombre del Banco</legend>
                                <input id="textinput" name="textinput" type="text" placeholder="Banesco" class="input-xlarge" style="height:30px">

                            </div>
                            </div>
                </div>  
                </fieldset>
                <fieldset>
                <legend>Informacion del Seguro</legend>
                        <div class ="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                            <div id="div1" style="float:left;margin: 10px; padding: 5px; text-align: left">
                                <legend>Rif Seguro</legend>
                                <input id="rifseguro" name="textinput" type="text" placeholder="Banesco" class="input-xlarge" style="height:30px">
                            </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                            <div id="div1" style="float:left;margin: 10px; padding: 5px; text-align: left">
                                <legend>Monto Asegurado</legend>
                                <input id="textinput" name="textinput" type="text" placeholder="Banesco" class="input-xlarge" style="height:30px">

                            </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                            <div id="div1" style="float:left;margin: 10px; padding: 5px; text-align: left">
                                <legend>Precio</legend>
                                <input id="textinput" name="textinput" type="text" placeholder="Rif - Seguros Horizonte" class="input-xlarge" style="height:30px">

                            </div>
                            </div>
                            </div>
                </fieldset>
       
                <div class="row">              
                    <div class="col-xs-12 col-xs-4 col-md-3" style="margin:20px; padding: 5px; text-align: left">
                        <h3>Interes:</h3>
                    <div class="form-group">
                        <input type="text" style="height:30px" name="first_name" id="first_name" class="form-control input-lg" placeholder="20%" tabindex="1">
                    </div>
                    </div>
                    <div class="col-xs-12 col-xs-4 col-md-3" style="margin:20px; padding: 5px; text-align: left">
                        <h3>Nro de cuotas:</h3>
                        <div class="form-group">
                            <input type="text" style="height:30px" name="first_name" id="first_name" class="form-control input-lg" placeholder="6" tabindex="1">
                        </div>
                    </div>                
                    <div class="col-xs-12 col-xs-4 col-md-3" style="margin:20px; padding: 5px; text-align: left">
                        <h3>Cuota:</h3>
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" style="height:30px" class="form-control input-lg" placeholder="20% monto / 6" tabindex="1">
                        </div>
                    </div>
               </div>
        

                <fieldset>
                
                    <div>
                        <div class="controls">
                            <label class="checkbox inline" for="checkboxes-0">
                            <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1234">
                                Garantia Extendida
                            </label>
                        </div>

                    </div>
                    <center> 
                        <button id="button2id" name="button2id" class="btn btn-danger">Facturar</button>
                    </center>
                </fieldset> 
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>